:root {
  --primary: #32cd32;      /* Verde limão vibrante para destaques */
  --primary-010: #28a428;  /* Verde mais escuro para contrastes */

  --white: #ffffff;        /* Branco puro para fundos */

  --grey: #e5e5e5;         /* Cinza claro para fundos de seções secundárias */

  --black: #1e1e24;        /* Preto suave para texto principal */
  --black-010: #3a3a42;    /* Cinza escuro para subtítulos e bordas */

  --red: #ff5252;          /* Vermelho vivo para alertas */
  --red-010: #d41f1f;      /* Vermelho mais escuro para variações */
}
